Flask==2.0.1 
Flask-Mail==0.9.1
gunicorn==23.0.0
reportlab==3.6.12 
schedule==1.1.0 
itsdangerous==2.2.0
Jinja2==3.1.4

psycopg==3.1.8     
Werkzeug==2.0.1
Flask-WTF==1.0.1 
tenacity==8.2.3
psycopg_pool==3.1.7
