{% extends 'base.html' %}
{% block content %}
  <h1>Login</h1>
  <form method="post" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label }}<br>
      {{ form.email() }}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password() }}
    </p>
    <p>
      <label for="captcha">{{ captcha_q }} = </label>
      {{ form.captcha() }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  <p><a href="{{ url_for('register') }}">Register</a> | <a href="{{ url_for('forgot_password') }}">Forgot Password?</a> | <a href="{{ url_for('admin_login') }}">Admin Login</a></p>
  <form method="post" action="{{ url_for('guest') }}">
    <p><input type="submit" value="Play as Guest"></p>
  </form>
  <p class="success">{{ msg }}</p>
  <p class="error">{{ err }}</p>
{% endblock %}
